<!DOCTYPE html> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body> 
<noscript>
 Для работы меню включите скрипты! <br>
 please turn on javascripts!
</noscript>
<style>
@import url('bootstrap.min.css');

a { outline: none; }
ul li a[aria-controls="profile"]:hover{ color:red;}
.ot2 {margin: 2px 1px;}
i {color: red;}
</style>

<script src='jquery.min.js'></script>
<script src='bootstrap.min.js'></script>
<script src='vue.js'></script>
<script src='en-ru-dict.js'></script>
<script>
 if(window['g_api']!=undefined)console.log('g_api in use!');g_api='error';//global 
g_name='?';//global 
g_page='?';//global
</script> 

  <!-- Навигация -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tem" aria-controls="tem" role="tab" data-toggle="tab">главная</a></li>
    <li><a href="#tem1" aria-controls="tem1" role="tab" data-toggle="tab" title="" onclick="load_vu_from_Loc(0);">списки</a></li>
    <li><a href="#tem2" aria-controls="tem2" role="tab" data-toggle="tab" title="" onclick="start_card();">карточки</a></li>
  </ul>
 
<!-- Содержимое вкладок -->
<div class="tab-content" >

<div role="tabpanel" class="tab-pane fade in active" id="tem" align="center">
   <div class="panel panel-primary">
	<div class="panel-heading"><h3 >ТАБЛИЦА ПО ТЕМАМ (tem)</h3></div>
   </div>

<p>
Проект для изучения английского языка по ассоциациям. Открытый. Бесплатный.<br>
Использование в комерческих целях запрещено. Помощь в развитии сайта и БД приветствуется.<br>
Пишите в телеграм чат EnglSpaceChat
</p>
<hr>
<textarea id='id_text1' cols="80" rows="20"></textarea>
<hr>
<script>
 put_h('id_text1','Loading...');
 g_name='tem';g_page='';load_A(0);//содержание по темам
</script>
</div>


<div role="tabpanel" class="tab-pane fade" id="tem1" >
<br>
  <div class="panel-group">

   <div class="panel panel-primary">
    <div class="panel-body">
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_vu_from_Loc(1);">1</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_vu_from_Loc(2);">2</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_vu_from_Loc(3);">3</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_vu_from_Loc(4);">4</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_vu_from_Loc(5);">5</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_vu_from_Loc(6);">6</button>
      <button type="button" class="btn btn-primary btn-md ot2" onclick="load_vu_from_Loc(7);">7</button>
      ||
      <button type="button" class="btn btn-success btn-md ot2" onclick="load_A(0);">Загрузить полный список из гугл таблицы</button>
      <button type="button" class="btn btn-danger btn-md ot2" onclick="save_vu_to_Loc();">Запомнить юзер список локально</button>
      <button type="button" class="btn btn-danger btn-md ot2" onclick="del_Loc();">Очистить LocalStore</button>

      
    </div>
   </div> 

   <div class="panel panel-success">
<div class="panel-heading">Текущий список=<span id="id_list0">?</span></div>

    <div class="panel-body">
     <div id="app" >
      <input v-model="newTodo" v-on:keyup.enter="addTodo" style="width:500px">
      <p></p>
      <ul>
        <li v-for="todo in todos" class="alert alert-info" role="alert">
          <span>{{ todo.text }}</span>
          <button type="button" class="btn btn-danger btn-xs" v-on:click="removeTodo($index)">[X]</button>
        </li>
      </ul>
     </div>
    </div>
   
 </div>
 
 </div>
</div>
<script>
vu=new Vue({
  el: '#app',
  data: {
    newTodo: '',
    todos: [ { text: 'номер| слово - перевод, крестик удалить' }]
  },

  methods: {
    addTodo: function () {
      var text = this.newTodo.trim()
      if (text) {
        this.todos.push({ text: text })
        this.newTodo = ''
        //save_vu_to_Loc()
      }
    },
    removeTodo: function (index) {var s='',ms;
	 s=''+this.todos[index].text; ms=s.split('|');
	 if(len(ms)>1){
		 s=g_name+g_page+'_'+ms[0];
		 console.log('del card='+s);
		 del_LocElem(s);//удаляем карточку если есть
	 }
     this.todos.splice(index, 1);
     //save_vu_to_Loc()
    }

  }
})

</script>


<div role="tabpanel" class="tab-pane fade" id="tem2">
  <div class="panel-group">

   <div class="panel panel-primary">
	<div class="panel-heading"><h5 id="id_tek_word">Загружаем карточки..</h5></div>
    <div class="panel-body">
      <button id="id_but1" type="button" class="btn btn-primary btn-md ot2" onclick="start_card();">HOME</button>
       ||
      <button id="id_but2" type="button" class="btn btn-success btn-md ot2" onclick="prev_word();">PREV</button>
      ||
      <button id="id_but3" type="button" class="btn btn-success btn-md ot2" onclick="next_word();">NEXT</button>
      ||
      <button type="button" class="btn btn-danger btn-md ot2" onclick="">EDIT</button>
      |||| 
      <button type="button" class="btn btn-info btn-md ot2">
      Текущий список=<span id="id_list">?</span> Текущий номер слова=<span id="id_word">?</span> 
      </button>
    </div>
   </div> 

   <div class="panel panel-success">
    <div  class="panel-body">
     <h3><b id="id_p0">слово - перевод</b> <span id="id_p1" class="label label-primary">транскрипция 3 шт</span></h3>
    </div>
   </div>

   <div class="panel panel-primary">
    <div  class="panel-body">
     <div class="row">
	   <div class="col-sm-6 col-md-4">
		<img id="id_p3" src="" width="100%" >
	   </div>
       <div class="col-sm-6 col-md-8" >
        <h3 id="id_p2" >ассоциация</h3>
        <h4 id="id_p4" >dop</h4>
       </div>
      </div>  
     </div>
   </div>   
 
   <div class="panel panel-primary">
    <div id="id_p5" class="panel-body">
доп асоц
    </div>
   </div>    
 
   <div class="panel panel-primary">
    <div id="id_p6" class="panel-body">
примеры
    </div>
   </div>    

 </div>
</div>
   
 </div>
</div>
</div>
</div>


</body>
